@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FFEBCF, #AD916A);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5a4b37;
    width: 1000px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #AF926B;
    text-align: center;
    text-shadow: 1px 1px 2px #5a4b37dc;
}

h2{
    color: #588DAD;
}

p{
    text-align: justify;
}